.baju{
    background-color: rgb(255, 0, 0);
    color: black;
}
.baju2{
    background-color: rgb(238, 255, 0);
    color: black;
}
a{
    background-color: rgb(0, 255, 34);
    color: black;
}